<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<h3>ご意見・お問い合わせ</h3>
	<hr/>
	■よくあるご質問<br/>
	お問い合わせの前に<a href="#">｢よくある質問｣</a>をご確認下さい。<br/>
	■禁止事項<br/>
	ﾒｰﾙ文中には絵文字を使用しないで下さい。<br/>
	■免責<br/>
	頂いた全てのお問い合わせに対し順次返答を行っておりますが､内容によっては返信に数日かかる場合がございます｡ご了承下さい｡ﾒｰﾙは24時間受付けておりますが、ご回答時間は9:00～17:30となります。<br/><br/>
	以上をご確認頂いた上で下記宛先までお問い合わせ下さい。<br/>
	&lt;コンタクトセンター&gt;<br/>
	[メール]<br/>
	<a href="life-ranger-pawr@cc.mti.co.jp">life-ranger-pawr@cc.mti.co.jp</a><br/>
	<span style="color:red;">メール送信時に端末のUser-Agentを送信します</span><br/>
	[電話]<br/>
	<a href="#">050-8882-5939</a><br/>
	お電話でのお問い合わせの際は最初にサイト名と機種名をお伝え下さい。<br/>
	※受付時間は平日9:00～17:30(土日祝日/年末年始除く)<br/>
</div>
</body>
</html>