<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style type="text/css">
.spUser,
.pcUser {
    display :none;
}
 
</style>
<body>
<script type="text/javascript">
	
	var link = document.getElementById("ualink");
	var $ua = navigator.userAgent;
	$(function(){
	    if($ua.indexOf('iPhone') > 0 || $ua.indexOf('iPad') > 0 || $ua.indexOf('iPod') > 0 || $ua.indexOf('android') > 0 || $ua.indexOf('BlackBerry') > 0 || $ua.indexOf('windows Phone') > 0 || $ua.indexOf('NOKIA') > 0 || /Mobile.*Firefox/.test($ua)){
	    	link.href = "privacy@cc.mti.co.jp";
	    	$('.spUser').show();
	    } else {
	    	link.href = "privacy@cc.mti.co.jp";
	        $('.pcUser').show();
	    }
	});
</script>

	<p>『フェーズドアレイ気象レーダ』アプリケーション・プライバシーポリシー</p>

	本アプリケーション・プライバシーポリシー（以下、『本ＡＰＰ』という）は、株式会社エムティーアイ（以下、『当社』という）がスマートフォン等に向けて提供する『フェーズドアレイ気象レーダ』アプリケーション（以下、『本アプリ』という）から送信される利用者情報とその取り扱いについて説明するものです。本アプリのご利用に際しましては、本ＡＰＰの内容をあらかじめご確認いただき、ご了承のうえでご利用ください。（本ＡＰＰは、本アプリのご利用開始後も、本アプリ内のヘルプメニューから随時参照いただけます。）

	<p>● アプリ本体から送信される利用者情報、目的、送信先等について</p>
	<p>◆ 本アプリのサービス機能提供またはサービス運営管理のために送信される情報</p>
	
	<p>【送信される情報項目・利用目的】</p>
	<ul>
		<li>GPS位置情報 （現在位置情報の取得のため）</li>
		<li>ご利用端末の機種・OS等の情報 （カスタマーサポートのため）</li>
	</ul>
	
	<p>【送信方法】</p>
	<ul>
		<li>アプリが端末から自動送信</li>
	</ul>
	※お客様の手動入力情報はお客様ご自身による送信ボタン押下等の操作により送信
	
	<p>【送信先】</p>
	<ul>
		<li>株式会社エムティーアイ</li>
	</ul>
	
	<p>【第三者提供の有無】</p>
	<ul>
		<li>当社に送信される情報は、当社以外の第三者に提供しておりません。</li>
	</ul>
	
	<p>【情報送信の停止手段・影響等】</p>
	<ul>
		<li>お客様がメールでのお問い合わせを行う際に送信されるご利用端末の機種・OS等の情報については、メールによるお問い合わせを行わないことで送信を回避することができます。</li>
	</ul>
	※送信を回避した場合、お客様のお問い合わせサポートが十分に行えない場合があります。<br/>
	
	<p>◆ 本アプリのサービス改善・マーケティング分析のために送信される情報</p>
	
	<p>【送信される情報項目・利用目的】</p>
	<ul>
		<li>本アプリの画面閲覧や機能利用の履歴情報 （サービス利用動向等の統計分析のため）</li>
		<li>回答いただいたアンケートの情報 （サービス利用動向等の統計分析のため）</li>
	</ul>
	
	<p>【送信方法】</p>
	<ul>
		<li>アプリが端末から自動送信</li>
	</ul>
	<p>※お客様の手動入力情報はお客様ご自身による送信ボタン押下等の操作により送信</p>
	
	<p>【送信先】</p>
	<ul>
		<li>株式会社エムティーアイ</li>
	</ul>
	
	<p>【第三者提供の有無】</p>
	<ul>
		<li>当社に送信される情報のうち、以下については、お客様個人が特定されない統計データとして第三者提供される場合があります。
		&gt;提供情報&lt;回答いただいたアンケートの情報
		&gt;提供先&lt;国立研究開発法人 情報通信研究機構
		&gt;提供目的&lt;共同研究のため</li>
	</ul>
	
	<p>【情報送信の停止手段・影響等】</p>
	<ul>
		<li>アンケート回答の収集はお客様の任意で行っておりますので、アンケート情報の利用を望まれない場合はアンケートにご回答いただかなくて構いません。</li>
	</ul>
	
	● 情報収集モジュールから送信される利用者情報、目的、送信先等について<br/>
	
	本アプリでは、以下に記載の情報収集モジュールを利用しています。<br/>
	※情報収集モジュールとは、アプリの利用状況等の統計データ収集やアプリ内での広告表示等を行うために、アプリ本体の機能とは独立した、第三者が作成したプログラムのことです。<br/>
	
	<p>◆ Google Analytics</p>
	
	<p>【送信される情報項目・利用目的】</p>
	本アプリではGoogle Inc.のアクセス解析ツール「Google Analytics」を利用しており、以下の情報がお客様個人が特定されない統計データとして送信されます。<br/>
	送信された情報は、本アプリの機能評価・改善およびマーケティング分析のために当社で利用します。<br/>
	<ul>
		<li>本アプリのご利用状況（本アプリ訪問回数・滞在時間、閲覧ページ数・画面遷移等）</li>
		<li>ご利用端末の情報（端末の設定言語・地域、機種名、OS・ブラウザバージョン、プロバイダ等）</li>
	</ul>
	
	<p>【送信方法】</p>
	<ul>
		<li>アプリが端末から自動送信</li>
	</ul>
	
	<p>【送信先】</p>
	<ul>
		<li>Google Inc.</li>
	</ul>
	
	<p>【第三者提供の有無】</p>
	<ul>
		<li>Google Analyticsを通じて当社が取得した情報は、当社以外の第三者に提供しておりません。</li>
	</ul>
	
	<p>【情報収集モジュール提供会社のプライバシーポリシー】</p>
	<ul>
		<li><a href="http://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a></li>
	</ul>
	
	<p>【情報送信の停止手段・影響等】</p>
	<ul>
		<li>情報送信の停止をご希望される場合、本アプリ内の設定メニュー＞Google Analytics設定から情報送信停止の操作をお客様ご自身で行ってください。</li>
	</ul>
	※情報送信を停止した場合でも,本アプリのサービス機能は何ら制約なくご利用いただけます。<br/>
	<p>◆ SurveyMonkey</p>
	
	<p>【送信される情報項目・利用目的】</p>
	本アプリではSurveyMonkeyのアンケートツール『SurveyMonkey』を利用しており、以下の情報がお客様個人が特定されない統計データとして送信されます。送信された情報は、本アプリの機能評価・改善およびマーケティング分析のために当社で利用します。
	<ul>
		<li>ご回答いただいたアンケート内容</li>
	</ul>
	
	<p>【送信方法】</p>
	<ul>
		<li>ユーザー手動送信</li>
	</ul>
	
	<p>【送信先】</p>
	<ul>
		<li>SurveyMonkey</li>
	</ul>
	
	<p>【第三者提供の有無】</p>
	<ul>
		<li>SurveyMonkeyを通じて当社が取得した情報は、当社以外の第三者に提供しておりません。</li>
	</ul>
	
	<p>【情報収集モジュール提供会社のプライバシーポリシー】</p>
	<ul>
		<li><a href="https://jp.surveymonkey.com/mp/policy/privacy-policy/">https://jp.surveymonkey.com/mp/policy/privacy-policy/</a></li>
	</ul>
	
	<p>【情報送信の停止手段・影響等】</p>
	<ul>
		<li>アンケート回答はお客様の任意となりますので、アンケートのご利用を望まれない場合はご回答いただかなくて構いません。</li>
	</ul>
	
	<p>● 個人情報の収集および取り扱いについて</p>
	本アプリおよび本アプリに付随するサービスにて収集するお客様の情報に個人情報が含まれる場合、実際に収集を行う場面（個人情報の入力・送信を行う画面等）で利用目的、第三者提供の有無、その他法令に定められた事項を都度提示し、お客様の明示的な同意をあらかじめ取得したうえで収集するものとします。※個人情報とは、個人に関する情報であって、それら情報に含まれる氏名、生年月日、その他の記述によって特定の個人が識別できる情報を指します。（他の情報と容易に照合することができ、それによって特定の個人を識別することが可能となる情報も含みます。）<br/>
	※当社が個人情報の収集を行う場合の当社全体の保護方針および汎用的な取り扱い基準については、以下の文書をご参照ください。
	
	<p>◆「個人情報保護方針」「個人情報の取り扱いについて」 http://www.mti.co.jp/praivacy/</p>
	
	<p>● 利用者情報の取り扱いに関するお問い合わせ先</p><br/>
	株式会社エムティーアイ 　苦情・相談窓口　　メール：　<a href="privacy@cc.mti.co.jp" id="ualink">privacy@cc.mti.co.jp</a>
	<div class="spUser">
		◆mopita ID：
		＜mopita ID をお持ちの方はここに入力をお願いします。＞
		
		◆お問い合わせ内容：
		
		＜ここにお問い合わせ内容をご記入ください。なお、下記のブラウザ情報は消去しないようお願いします。＞
		
		◆ブラウザ情報：
		Mozilla/5.0 (iPhone; CPU iPhone OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4
		＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
	</div>
	<div class="pcUser">
		◆mopita ID：
		＜mopita ID をお持ちの方はここに入力をお願いします。＞
		
		◆お問い合わせ内容：
		
		＜ここにお問い合わせ内容をご記入ください。なお、下記のブラウザ情報は消去しないようお願いします。＞
		
		◆ブラウザ情報：
		Mozilla/5.0 (iPhone; CPU iPhone OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4
		＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
	</div>
	
	<p>● 本ＡＰＰの変更について</p><br/>
	
	本アプリのバージョンアップに伴い、送信される利用者情報の項目、目的、送信先等が変更される場合があり、変更が生じた際には本ＡＰＰを改定します。変更内容等については、本アプリの新バージョンに付随する最新の本ＡＰＰをご参照ください。
	なお、変更内容によっては、必要に応じてお客様の同意確認を改めて取らせていただく場合があります。<br/><br/>
	END OF TEXT


</body>
</html>