<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<h3>利用規約</h3>
	<hr/>

	<div>
		◆お客様が株式会社エムティーアイ（以下、当社」といいます）が提供する『フェーズドアレイ気象レーダ』（以下、「本アプリ」といいます）を利用するにあたっては、「利用規約」（以下、「利用規約」といいます）、に承諾の上、当社と「利用契約」（以下、「利用契約」といいます）を締結して頂きます。なお、お客様の本アプリ使用開始をもって当社とお客様の間で利用契約が締結されたものとします。<br/>
		◆本アプリは実証実験中の次世代気象レーダの「フェーズドアレイ気象レーダ」の情報を利用しているため、メンテナンス等で一時的に情報が更新されないことがあります。<br/>
		◆本アプリのご利用により生じたお客様又は第三者に直接的又は間接的に生じた損害について当社は賠償の責を負わないものとします。<br/>
		◆本アプリの情報は確実性、有用性、完全性を保証するものではありません。お客さまは本アプリより得た情報をお客さまご自身の判断と責任においてご利用ください。<br/>
		◆本アプリに関する編集著作権等を含む一切の権利は、当社又は著作権を有する第三者に帰属します。<br/>
		◆お客様が本アプリの内容を当社に無断で転載、複写、蓄積又は転送することを禁止します。<br/>
		◆本サービスのご利用に際してお客様から取得する情報については、別紙「お客様情報の取得について」に従い取得します。<br/>
		◆お客様は、利用規約に係るいかなる権利又は義務も第三者に移転又は譲渡することはできません。<br/>
		◆当社は本アプリ及び利用規約を予告なく改訂、追加、変更又は廃止することができるものとします。<br/>
		◆本アプリは無料でご利用いただくことができます。<br/>
		◆お客様は、本アプリから入手した情報をお客様の私的利用範囲に限り利用することが可能であり、営利、非営利を問わずお客様が自己の事業のために利用することはできません。<br/>
		◆天気の予報に関しては、気象学的に予測されたものですが、地形の影響等による局所的な天候の変化や、急激な天候の変化を予測することは困難であり、実際の気象状況と予報の間には差異が生じる場合はありますので、あらかじめご了承ください。<br/>
		◆通信回線設備又はシステムの障害、定期的又は緊急のメンテナンスの必要、天災、事変、戦争その他の事態において、本アプリによる情報提供の一部又は全部が中断、中止されることがあります。<br/>
		◆本アプリのご利用にあたり、上記の不可抗力の事態に該当する場合を除き、当社の責に帰す事由によりお客様が損害を被った場合は、当社は、お客様が被った実損害額を上限として、当該損害を賠償するものとします。但し、当社の故意又は重大な過失に基づく損害については、この限りではありません。<br/>
		◆本アプリのご利用にあたり、お客様との間で疑義又は争いが生じた場合には、誠意を持って協議することとしますが、それでもなお解決しない場合には「東京地方裁判所」又は「東京簡易裁判所」を専属の管轄裁判所とします。<br/>
		◆当社はお客様が以下の行為（以下、「禁止事項」といいます）のいずれかに該当する行為をなしたと判断した場合は、お客様に通告することなく以降のご利用を停止させて頂く場合があります。また禁止事項により当社が損害を生じた場合は、お客様への損害賠償請求や公的機関への通報を行う場合があります。<br/>
		<ol>
			<li>利用契約又は法令に違反し、もしくはそのおそれのある行為</li>
			<li>当社又は当社がライセンスを受けている第三者の知的財産権、その他財産的もしくは属人的な権利、並びにプライバシーを侵害する行為</li>
			<li>当社、他の会員又は第三者に不利益もしくは損害を与える行為、又はこれを侵害するおそれのある行為</li>
			<li>当社のシステムへの不正アクセス、コンピュータウィルスの配布、その他本アプリを含む当社サービスの正常な運営を妨げる行為</li>
			<li>犯罪行為又は犯罪行為に結びつく行為もしくはこれを助長する行為</li>
		</ol>
	</div>
</div>
</body>
</html>